# Dependencies
node_modules/
# bun.lockb

# Build outputs
dist/
build/
out/
*.tgz
*.tsbuildinfo

# Code coverage
coverage/
*.lcov

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Lefthook local config
.lefthook-local.yml
yarn-error.log*
bun-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment files
.env
.env.*

# Caches
.cache/
.eslintcache
.turbo/
**/.turbo/

# Local development directories
.conductor/
